body{
background-color:#71EC8A;
}
h1{
font-size: 60px;
  font-weight:800;
  font-family: Arial, serif;
  color: #074923;
  text-align: center;
  border:8px solid;
}
h2{
	color:#074923 ;
	font-family: Arial, serif;
	text-align: center;
	font-size: 30px;
}
h3{
color:#074923 ;
	font-family: Arial, serif;
	text-align: center;
	font-size: 25px;
}
p1{
text-align: justify;
color:#027C37 ;
font-size: 20px;
}
img{
width: 500px;
 display: block;
  margin: 0 auto;
  border-radius: 10px;
}
a{
color: #027C37 ;
font-size: 20px;
text-align: center;
}
ul{
	color: #074923;
}


.one{
	text-align: left;
}