h1 {
  font-size: 60px;
  font-weight:800;
  font-family: Arial, serif;
  color: ;
  text-align: center;
  border:8px solid;
  color: #49861F;
}
h2{
  color: #49861F;
font-size: 30px;

}
p1{
  font-family: Arial, serif;
  text-align: justify;
  color:#42A939;
   font-size: 18px;


}
a{
  font-size: 20px;
  color: #5E9C34;
}
body{
   background-color: #D7F9C1 ;
}
li{
  color:#84C557;
}

